#products {
  .product {
    // padding: 30px 13px 48px 13px;
    position: relative;
    .discount {
      position: absolute;
      width: 40px;
      height: 20px;
      left: 0px;
      top: 15px;

      font-family: "Oswald";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      display: flex;
      align-items: center;
      text-align: center;
      color: $white-color;

      background-color: $secondary-black;
      justify-content: center;
    }
    .top-product {
      //   position: absolute;
      //   left: 0%;
      //   right: 0%;
      //   top: 84.67%;
      //   bottom: 11.31%;

      font-family: "Oswald";
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      display: flex;
      align-items: center;
      text-transform: uppercase;

      /* Gray 4 */

      color: $grey-color;
    }
    p {
      //   position: absolute;
      //   left: 0%;
      //   right: 0%;
      //   top: 88.69%;
      //   bottom: 7.3%;

      font-family: "Oswald";
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 27px;
      display: flex;
      align-items: center;

      color: $black-color;
      margin: 0px;
    }
    .price {
      display: flex;
      position: relative;
      .low-price,
      .current-price {
        // position: absolute;
        // left: 0%;
        // right: 0%;
        // top: 95.99%;
        // bottom: 0%;

        font-family: "Oswald";
        font-style: normal;
        font-weight: 900;
        font-size: 22px;
        line-height: 33px;
        display: flex;
        align-items: center;
        text-transform: uppercase;

        /* Black */

        color: $black-color;
      }
      .low-price {
        color: $pink-color;
      }
      .discount-price {
        font-family: "Oswald";
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: $grey-color;
        position: absolute;
        bottom: 10%;
        right: 42%;
      }
    }
  }
}
#offers {
  .offers {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    position: relative;
  }
  .attachable1 {
    position: absolute;
    left: 43%;
    width: 545px;
    height: 434px;
  }
  .offer-image1 {
    width: 448px;
    height: 434px;
  }
}
#blogs {
  // position: absolute;
  // left: -54px;
  // top: 5848px;
  width: 100%;
  height: 564px;
  background: $secondary-white;
  .article-tips {
    background: $white-color;
    padding: 24px;
    margin-top: 93px;
    .info {
      // position: absolute;
      // left: 5.41%;
      // right: 15.09%;
      // top: 5.71%;
      // bottom: 89.05%;

      font-family: "Oswald";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      display: flex;
      align-items: center;
      text-transform: uppercase;

      /* Gray 4 */

      color: $grey-color;
    }
    h1 {
      //       position: absolute;
      // left: 5.41%;
      // right: 3.83%;
      // top: 15.95%;
      // bottom: 69.29%;

      font-family: "Oswald";
      font-style: normal;
      font-weight: 900;
      font-size: 26px;
      line-height: 39px;
      display: flex;
      align-items: center;

      color: $black-color;
    }
    p {
      // position: absolute;
      // left: 5.41%;
      // right: 5.41%;
      // top: 38.33%;
      // bottom: 32.14%;

      font-family: "Roboto Light";
      font-size: 16px;
      line-height: 24px;
      /* or 150% */

      letter-spacing: 0.01em;

      color: $black-color;
    }
    .date {
      //       position: absolute;
      // left: 5.37%;
      // right: 3.8%;
      // top: 91.43%;
      // bottom: 0%;

      font-family: "Oswald";
      font-style: normal;
      font-weight: 300;
      font-size: 13px;
      line-height: 37px;
      /* or 285% */

      display: flex;
      align-items: center;

      /* Gray 2 */

      color: $secondary-grey;
      border-top: 2px solid $black-color;
    }
  }
}
nav {
  background-color: $black-color;
  display: flex;
  justify-content: space-between;
  padding: 15px 0px 10px;
  .logo {
  }
  ul {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    li {
      list-style: none;
      margin-right: 1rem;
      a {
        text-decoration: none;
        color: $white-color;
        // position: absolute;
        // left: 38.65%;
        // right: 59.64%;
        // top: 38.26%;
        // bottom: 43.48%;

        font-family: "Oswald";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */

        text-transform: uppercase;

        /* White */

        color: $white-color;
      }
    }
  }
  .account-cart {
    display: flex;
    width: 28%;

    // position: absolute;
    // left: 83.7%;
    // right: 10.21%;
    // top: 40.87%;
    // bottom: 40.87%;

    font-family: "Oswald";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    text-transform: uppercase;

    color: #ffffff;
  }
}
footer {
  background-color: $black-color;
  padding: 30px 10px 20px;
  .foot-col {
    h3 {
      color: $white-color;
    }
    li {
      list-style: none;

      a {
        text-decoration: none;
        font-family: "Roboto Medium";
        font-size: 13px;
        text-transform: uppercase;
        color: $grey-color-82;
      }
    }
    .content {
      p {
        font-family: "Oswald";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        color: #ffffff;
        margin: 0rem;
      }
      span {
        font-size: 11px;
        text-transform: uppercase;
        color: #828282;
      }
    }
  }
  .foot-subscribe {
    h3 {
      color: $white-color;
    }
    p {
      font-family: "Roboto Medium";
      font-size: 13px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: $grey-color-82;
    }
  }
  .copyright {
    color: $white-color;
  }
}
