#wishlist {
  position: relative;
  .contact-side {
    transform: rotate(-90deg);
    display: inline-block;
    position: fixed;
    right: -62px;
    top: 40%;

    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $white-color;
    background-color: $black-color;
    padding: 0.6rem 3rem;
  }
  .wishlist__title {
    @include dash-title;
  }
  .wishlist__body {
    display: flex;
    &__items {
      display: flex;
      flex-wrap: wrap;
      .wishlist__body__items__frame {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        .item {
          p {
            margin: 0;
          }
          .count-cart {
            display: flex;
            justify-content: space-between;
            .add-to-cart {
              font-family: "Oswald";
              font-style: normal;
              font-weight: 500;
              font-size: 11px;
              line-height: 21px;
            }
            span {
              font-family: "Oswald";
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 24px;
              display: flex;
              align-items: center;
              text-align: center;
              text-transform: uppercase;
              color: $grey-color-3f;
              border: 1px solid $grey-color-c4;
              padding: 0.2rem 0.7rem;
            }
          }
        }
        .buttons {
          button {
            border-style: none;
          }
        }
      }
    }
    .wishlist__footer {
      display: flex;
      &__item {
        background: #f0f2f2;
        border: 2px solid #c4c4c4;
        display: inline-block;
        padding: 0.4rem 1.6rem;

        font-family: "Oswald";
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #828282;
      }
    }
    .dashboard-list {
      @include dashboard-list;
    }
  }
}
