.shop-btn {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $black-color;
  background-color: $white-color;
  padding: 5px 15px;
  border: 2px solid $black-color;
}
.shop-btn-transparent {
  @extend .shop-btn;
  background: transparent;
}
.shop-btn-transparent2 {
  @extend .shop-btn;
  background: transparent;
  border: 1px solid white;
  color: white;
}
.shop-btn-black {
  @extend .shop-btn;
  background-color: $black-color;
  color: $white-color;
  padding: 0.5rem 2rem;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.dashboard-btn {
  background: $light-blue-color;
  padding: 0.3rem;
  font-weight: 600;
  text-transform: capitalize;
}
