footer {
  #footer-top {
    height: 100px;
    background: $light-blue-color;
    display: flex;
    .footer-top__list {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 80%;
      &__checked {
        list-style: none;
        margin-left: 3rem;
        font-family: "Oswald";
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 21px;
        display: flex;
        align-items: center;

        color: $black-color;
      }
    }
  }
  #crisp-footer {
    background-color: $black-color;
    padding: 30px 10px 20px;
    .foot-col {
      h3 {
        color: $white-color;
      }
      li {
        list-style: none;

        a {
          text-decoration: none;
          font-family: "Roboto Medium";
          font-size: 13px;
          text-transform: uppercase;
          color: $grey-color-82;
        }
      }
      .content {
        p {
          font-family: "Oswald";
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          text-transform: uppercase;
          color: #ffffff;
          margin: 0rem;
        }
        span {
          font-size: 11px;
          text-transform: uppercase;
          color: #828282;
        }
      }
    }
    .foot-subscribe {
      h3 {
        color: $white-color;
      }
      p {
        font-family: "Roboto Medium";
        font-size: 13px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: $grey-color-82;
      }
    }
    .copyright {
      color: $white-color;
    }
  }
}
