// font
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

//color
$pink-color: #eb5757;
$black-color: #000000;
$secondary-black: #292a2d;
$white-color: #ffffff;
$secondary-white: #f8f9fb;
$grey-color: #bdbdbd;
$grey-color-c4: #c4c4c4;
$grey-color-82: #828282;
$grey-color-3f: #3f3f3f;
$secondary-grey: #4f4f4f;
$light-blue-color: #e6f1fa;
