@media screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }
  nav {
    display: none;
  }
  #mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
    .search-cart {
      display: flex;
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        &:not(:last-child) {
          margin-right: 1rem;
        }
        a {
          text-decoration: none;
        }
      }
    }
  }

  .cookie-wrapper,
  .brand-items .info1,
  .info2,
  .info3 {
    display: none;
  }
  footer {
    #footer-top {
      height: 100%;
      .footer-top__list {
        display: flex;
        flex-direction: column;
      }
    }
    #crisp-footer {
      .crisp-foot {
        display: flex;
        justify-content: center;
      }
      .foot-col {
        margin: 0;
        padding: 0;
        .foot-col__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          h3 {
            font-family: "Oswald";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            display: flex;
            align-items: center;
            letter-spacing: 0.5px;
            text-transform: uppercase;

            color: #ffffff;
          }
          i {
            display: block;
          }
        }
        li {
          display: none;
        }
      }
      .foot-subscribe {
        h3 {
          font-family: "Oswald";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          display: flex;
          align-items: center;
          letter-spacing: 0.5px;
          text-transform: uppercase;

          color: #ffffff;
        }
        form {
          input {
            width: 100%;
          }
          .subscribe-button {
            width: 100%;
            padding: 0.4rem 10rem;
          }
        }
      }
      .copyright {
        margin-top: 4rem;
      }
    }
  }
  #brands {
    .brand-tabs {
      display: flex;
      justify-content: center;
      &__logo {
        display: none;
      }
      ul {
        border: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 90%;
        a {
          width: 40%;
          text-align: center;
          border: 2px solid $grey-color-82;
          margin: 0.6rem;
          span {
            font-size: 25px;
          }
        }
      }
    }
    .brand-items {
      display: flex;
      flex-direction: column;

      .item1 {
        @include brand-background(
          $area: none,
          $background: url("./images/brand1.png")
        );
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      .item2 {
        @include brand-background(
          $area: none,
          $background: url("./images/brand2.png")
        );
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      .item3 {
        @include brand-background(
          $area: none,
          $background: url("./images/brand3.png")
        );
        background-size: contain;
        background-repeat: no-repeat;
      }
      .item {
        h1 {
          font-family: "Oswald";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          text-transform: uppercase;
          color: $black-color;
        }
        p {
          font-size: 12px;
        }
        button {
          font-size: 10px;
        }
      }
    }
  }

  // products
  #products {
    .wear {
      h1 {
        padding: 0 1rem;
      }
      ul {
        display: none;
      }
      .products {
        .product {
          padding: 1rem 0rem;
          .top-product {
            font-size: 10px;
            margin-top: 0.3rem;
          }
          p {
            font-size: 12px;
          }
          .price {
            .low-price {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  #products .products .product .price .low-price,
  #products .products .product .price .current-price {
    font-size: 17px;
  }
  #products .products .product .price .discount-price {
    bottom: 19%;
    right: 2%;
  }
  #products .products .product {
    padding: 1rem 0rem;
  }
  // products
  #shoping-limits {
    .limits {
      background-size: 100% 100%;
      .info {
        padding: 1rem;
        h1 {
          font-size: 14px;
          padding: 0;
          margin: 0;
          line-height: 2;
        }
        h5 {
          font-size: 10px;
          padding: 0;
          margin: 0;
          line-height: 1;
        }
        button {
          font-size: 10px;
          padding: 0 15px;
          margin-top: 0.4rem;
        }
      }
    }
  }
  #explore {
    .explore {
      // background: url("./images/image 2.1.png");
      // background-size: contain;
      // background-repeat: no-repeat;
      .responsive-image {
        display: block;
      }
      image {
        width: 100%;
      }
      flex-direction: column;
      .explore-image {
        // display: none;
        .web-image {
          display: none;
        }
        .responsive-image {
          display: block;
        }
      }
      .explore-info {
        position: absolute;
        width: 70%;
        bottom: 1rem;
        right: 100px;
        background: white;
        padding: 6px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
          border: none;
          font-size: 14px;
          line-height: 1rem;
        }
        p {
          font-size: 10px;
          line-height: 13px;
        }
        button {
          font-size: 10px;
          line-height: 15px;
        }
      }
    }
  }
  #blogs {
    height: 100%;
    .article-tips {
      margin-top: 30px;
    }
  }
}
